:root {
    --primary: #CCCC88;
    --secondary: #D1D1D1;
    --accent: #EE420B;
    --light: hsl(0, 0%, 100%);
    --dark: #000000;
}

body {
    background-color: rgba(86,81,126,255);
}

nav {
    background-color: var(--dark);
}

.mb-3 {
    display: flex;
    align-items: center;
}

.results-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the column width as needed */
    gap: 20px; /* Adjust the gap between items */
    list-style: none; /* Remove the default list styling */
    padding: 20px; /* Remove default padding */
}

.results-container li {
    display: flex;
    flex-direction: column; /* Display items as columns within each grid cell */
}